.home {
  background: linear-gradient(
      90deg,
      rgba(251, 251, 251, 0.522) 0%,
      rgba(251, 251, 251, 0) 53.68%
    ),
    url("./background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-inline: 0.625rem;

  &__content {
    max-width: 52.5rem;
    height: 15.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      90deg,
      rgba(246, 246, 246, 0.76) 38.67%,
      rgba(246, 246, 246, 0.0304) 95.9%
    );
    position: relative;
    top: 10.625rem;
    margin-left: 0.625px;
  }

  &__text {
    padding-top: 3px;
    padding-right: 3px;
    display: inline-block;
  }

  &__big-font {
    font-size: 3rem;
    font-weight: $fw-bold;
    font-style: italic;
    color: $green-100;
    text-align: center;
  }

  &__small-font {
    font-size: 2rem;
    font-style: italic;
  }

  &__logo {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    width: 59rem;
    height: 6.75rem;
    background-color: white;
    position: absolute;
    margin-top: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    overflow: hidden;
    bottom: 0;
  }

  &__form-left-title {
    height: 100%;
    width: 19.375rem;
    background-color: #8bc540;
    position: relative;
    padding-top: 1.5625rem;
    clip-path: polygon(92% 0, 100% 50%, 92% 100%, 0 100%, 0 0);
  }

  &__form-left-title-primary {
    font-weight: $fw-bold;
    font-size: $fs-300;
    color: white;
    text-transform: uppercase;
    text-align: center;
  }

  &__form-left-title-secondary {
    font-size: $fs-100;
    color: white;
    text-align: center;
  }

  &__form-content {
    height: 100%;
    max-width: calc(944px - 310px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.9375rem;
    margin-right: 1.25rem;
  }

  &__form-content-title {
    color: $green-100;
    font-weight: $fw-bold;
    font-size: $fs-200;
  }

  &__form-inputs {
    margin-bottom: 1.125rem;
  }

  &__input {
    height: 2.125rem;
    width: 11.25rem;
    border: none;
    border: 1px solid #6d6e70;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 0.875rem;
    &:not(:nth-of-type(1)) {
      margin-left: 4px;
    }
  }

  &__input-submit {
    width: 13.375rem;
    height: 2.125rem;
    margin-left: 4px;
    border: none;
    background-color: #8bc540;
    color: white;
    text-transform: uppercase;
    font-size: 1.0625rem;
    border: 2px solid #6f973b;
    border-radius: 3px;
  }
}
